body{
    font-family: $parrafos-font-family;
}

trix-editor{
    min-height: 200px;
}

.bg-primary .navbar-brand{
    color: white;
    font-family:$parrafos-font-family ;
    font-size: 2;

    &:hover{
        color: white;
    }
}